@charset "UTF-8";

.header {
  		background-color:red;
  		color:white;
  		text-align:right;
  		padding-bottom:30px;
  	}
  	
 .headerLink {
 		text-decoration:none;
 		color:white;
 }
  	
 .center-box {
  		margin-top:50px;
  	}
  	
 .right-align {
  		text-align:right;
  	}
  	
  .movieTitle {
  		font-size:2rem;

  	}
  
  .movieImage {
  		text-align:center;
  
  	}
  
  .movieGenre {
  		font-size:2rem;
  		text-tranform:uppercase;
  
  	}
